body {
  margin: 0px;
  padding: 0px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 32px;
  color: #02577a;
}

h2 {
  font-size: 24px;
  color: #03658c;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 40px;
  background-color: #b3cedc;

}

.profile img {
  width: 300px;
  height: 300px;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-bottom: 25px;
}


section {
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: #b3cedc;
  margin: 20px;
  padding: 40px;
}
